#imgTop{
    height: 700px;
    background: url("images/imgTopo.jpg") no-repeat right top fixed;
    background-size: cover;
    text-align: center;
    background-attachment: local;
}
#faixa{
    background-color: blanchedalmond;
    position: relative;
    top: 300px;
    width: 40%;
    font-size: 50px;
    display: inline-table;
}
#bottomImgTop{
    height: 60px;
    background-color: rgb(223, 134, 17);
    position: relative;
    top: 515px;
    opacity: 0.7;
}
@media(max-width: 500px){
    #imgTop{
    height: 300px;
    background: url("images/imgTopo.jpg") no-repeat right top fixed;
    background-size: cover;
    text-align: center;
    background-attachment: local;
    background-position-x: left;
    }
    #faixa{
        background-color: blanchedalmond;
        position: relative;
        top: 60px;
        width: 70%;
        font-size: 20px;
        display: inline-table;
    }
    #bottomImgTop{
        height: 60px;
        background-color: rgb(223, 134, 17);
        position: relative;
        top: 190px;
        opacity: 0.7;
    }
}